link(rel="stylesheet" href="styles/navbarAnimation.css")
nav.navbar.has-shadow.is-white
  .navbar-brand
    a.navbar-item
    img(src='images/logo3.png' width='90' height='18')
    a#burger.navbar-burger
      span
      span
      span
  #nav-links.navbar-menu
    .navbar-end
      a.navbar-item Home
      a.navbar-item Categories
script(src="scripts/navbar.js")   
