extends ../layouts/header

block content 

  section.section 
    .container
      h2.title All Categories 
      div.columns.mt-t.is-8.is-variable.is-centered
        each category in category_list
          div.column 
            div.card.my-5 
              header.card-header 
                p.card.header.title.px-2.py-2 #{category.name}
              .card-content 
                .content  
                  p #{category.description}
                  p Created At
              footer.card-footer
                a.card-footer-item.has-text-primary View  
                a.card-footer-item.has-text-info Edit 
                a.card-footer-item.has-text-danger Delete
        else 
          article.message.is-info 
            .message-header
              p Info 
            .message-body
              p Looks like there are no categories at the moment.
          


  
