extends ../layouts/header

block content 
  .section 
    .container
      h2 All Categories 
      .columns.mt-t.is-8.is-variable.is-centered 
        .column 
          .card.my-5 
            header.card-header 
              p.card.header.title.px-2.py-2 Title
            .card-content 
              .content  
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, placeat.
                p Created At
            footer.card-footer
              a.card-footer-item.has-text-info Edit 
              a.card-footer-item.has-text-danger Delete 


          


  
