extends ../layouts/header

block content
  .section.pt-4.pb-0
  nav.breadcrumb.has-arrow-separator
    ul.container
      li
        a(href='/').has-text-grey Home 
      li
        a(href='/category/list').has-text-grey Categories
      li
        a(href=item.category.url).has-text-grey #{item.category.name}
      li.is-active
        a #{item.name}

  h1 #{item.name}